{% extends "main/base.html" %}
{% block title %}Rreth Nesh{% endblock %}
{% block content %}
<h2>{% if session['lang'] == 'mk' %}За нашата компанија{% elif session['lang'] == 'en' %}About Our Company{% else %}Rreth Kompanisë{% endif %}</h2>
<p>Auto Agoni është një kompani lidere në fushën e rent a car, me mbi 10 vite përvojë në ofrimin e zgjidhjeve të sigurta dhe të përshtatshme për çdo klient. Ne jemi të përkushtuar të ofrojmë vetura të pastra, të mirëmbajtura dhe të gatshme për çdo udhëtim – qoftë për përdorim personal, biznes apo turizëm.

Gjatë gjithë viteve, kemi fituar besimin e klientëve tanë përmes kualitetit, korrektësisë dhe përkujdesjes maksimale në çdo shërbim. Flota jonë përfshin një përzgjedhje të gjerë të veturave moderne – ekonomike, familjare dhe luksoze – që plotësojnë nevojat e çdo udhëtari.

Misioni ynë është të ofrojmë një përvojë të rehatshme dhe të sigurt me qira të veturave, me çmime konkurruese dhe mbështetje të vazhdueshme për klientët tanë.

Zgjidh Auto Agoni – Rent a Car, dhe udhëto me besim!</p>
{% endblock %}
